@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, *::before, *::after {
    @apply box-border;
  }

  html, body {
    @apply h-full p-0 m-0;
  }

  :root {
    background-color: #F6F7F8;
    padding-bottom: 3rem;
    font-family: Montserrat;
  }

  body {
    @apply p-0 m-0 overflow-x-hidden;
  }
}

@layer header{
  .header-section{
    @apply flex items-center
  }
}

@layer Offer{
  .offer-details ul li{
    @apply flex items-center py-[40px] max-sss:flex-col max-sss:gap-4
  }
  .offer-details .ellipse{
    @apply w-[24.8px] h-[24.8px] mr-4
  }
  .offer-details .details{
    @apply text-[14px] text-[#75687E] mr-6 max-mdd:text-[12px] max-mdd:ml-[1rem]
  }
  .offer-details .vector-div{
    @apply w-[80px]
  }
}

@layer sponsor{
  .form-box{
    @apply flex flex-col gap-[9px]
  }
  .form-box p{
    @apply font-[600] text-[16px] leading-[21.6px] text-[#000000]
  }
  .form-box input{
    @apply h-[63px] 
  }
}

@layer community{
  .short-profile{
    @apply flex flex-col gap-[20px]
  }
  .short-profile img{
    @apply w-[241.54px] h-[241.54px]
  }

}